html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/12/13/42/castle-4690710_960_720.jpg");
  width: 70%;
  height: 100%;
  border: 3px solid blue;
  box-shadow: 2px 2px yellowgreen;
  text-align: center;
  margin: 20px auto;
}

.form {
  margin: 5px;
  padding: 5px;
}
.form input {
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.weather {
  border: 3px solid #a47ecc;
  background-color: #6a93c4;
}
